@import "./utils/variables";
@import "./components/base";
@import "./components/logo";
@import "./components/btn-menu";
@import "./components/header";
@import "./components/nav-header";
@import "./components/hero";
@import "./components/activiti";
@import "./components/advantages";
@import "./components/our-comanda";
@import "./components/clients";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/modal";
