.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advantages-list {
  display: flex;
}
.advantages-list .item {
  width: 270px;
  margin-right: 30px;
}
.advantages-title {
  color: $title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-contente {
  color: gray;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 70px;
  height: 70px;
}
