.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-wrapper-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  border-radius: 4px;
  background-color: #f5f4f2;
}

.advantages-icon {
  display: inline-block;
  height: 70px;
  width: 70px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $text-color-gray;
}

@media screen and (max-width: 767px) {
  .advantages-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
  }

  .advantages-item {
    margin: 15px;
    width: 354px;
  }

  .advantages-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .advantages-list {
    display: flex;
    justify-content: space-between;
  }

  .advantages-item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .advantages-title {
    text-align: left;
  }
}