.clients {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 94px;
}

.clients-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

.clients-wrapper:not(:last-child) {
  margin-right: 30px;
}

.clients-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid gray;
  border-radius: 4px;
  --color4: #afb1b8;
  --color2: #afb1b8;

  &:hover,
  &:focus {
    --color4: $acent-color;
    --color2: $acent-color;
    border-color: $acent-color;
  }
}

.clients-icon {
  height: 50px;

  &:hover,
  &:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $acent-color;
  }
}

.sociali-icons-wr:not(:last-child) {
  margin-right: 10px;
}