header {
  border-bottom: 1px solid #ececec;
  position: relative;
  display: block;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
