.hero-container {
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  text-align: center;
  background-color: #2f303a;
}
.hero {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
}
.btn-hero {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700px;
  font-size: 16px;

  line-height: 1.88;
  text-decoration: none;
  color: white;
  background-color: $acent-color;
  border-radius: 4px;
  border: transparent;
  display: inline-block;
  letter-spacing: 00.06em;
  align-items: center;
  text-align: center;
  &:hover,
  &:focus {
    background-color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.main-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900px;
  font-size: 26px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 00.06em;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}
