html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0px;
  margin: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
div {
  display: flex;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section {
  display: block;
}
