$title-color: #000;
$ptimary-text-color: white;
$main-text-color: #000;
$acent-color: #18a0fb;
$icon-color: #757575;
$icon-color-white: white;
$accent-color: #18a0fb;
$text-color-gray: #757575;
$icon-color-gray: grey;
$bg-hero-footer: rgb(5, 5, 5);
$text-white: white;